<a href="https://colab.research.google.com/github/cher16/FDSfE_ANjoku/blob/main/HW2/Assignment2_movies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import pylab as pl
happiness = pd.read_csv("https://github.com/fedhere/FDSfE_FBianco/raw/main/data/happines.csv")

In [9]:
happiness.shape

(160, 12)

In [10]:
happiness.head(10)

,Country,Region,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
0,Switzerland,Western Europe,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015
5,Finland,Western Europe,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955,2015
6,Netherlands,Western Europe,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570,2015
7,Sweden,Western Europe,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119,2015
8,New Zealand,Australia and New Zealand,7.286,0.03371,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2.26425,2015
9,Australia,Australia and New Zealand,7.284,0.04083,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2.26646,2015

In [11]:
happiness.tail(10)

,Country,Region,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
150,Ivory Coast,Sub-Saharan Africa,3.655,0.05141,0.46534,0.77115,0.15185,0.46866,0.17922,0.20165,1.41723,2015
151,Burkina Faso,Sub-Saharan Africa,3.587,0.04324,0.25812,0.85188,0.27125,0.39493,0.12832,0.21747,1.46494,2015
152,Afghanistan,Southern Asia,3.575,0.03084,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210,2015
153,Rwanda,Sub-Saharan Africa,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,2015
154,Benin,Sub-Saharan Africa,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,2015
155,Syria,Middle East and Northern Africa,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,2015
156,Burundi,Sub-Saharan Africa,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,2015
157,Togo,Sub-Saharan Africa,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,2015
158,Namibia,NaN,4.639,NaN,0.87900,NaN,0.47700,0.40100,0.05600,0.07000,NaN,2019
159,Gambia,NaN,4.516,NaN,0.30800,NaN,0.42800,0.38200,0.16700,0.26900,NaN,2019

In [12]:
happiness.describe

<bound method NDFrame.describe of          Country                           Region  Happiness Score  \
0    Switzerland                   Western Europe            7.587
1        Iceland                   Western Europe            7.561
2        Denmark                   Western Europe            7.527
3         Norway                   Western Europe            7.522
4         Canada                    North America            7.427
..           ...                              ...              ...
155        Syria  Middle East and Northern Africa            3.006
156      Burundi               Sub-Saharan Africa            2.905
157         Togo               Sub-Saharan Africa            2.839
158      Namibia                              NaN            4.639
159       Gambia                              NaN            4.516

     Standard Error  Economy (GDP per Capita)   Family  \
0           0.03411                   1.39651  1.34951
1           0.04884                   1.30232  1.40223
2           0.03328                   1.32548  1.36058
3           0.03880                   1.45900  1.33095
4           0.03553                   1.32629  1.32261
..              ...                       ...      ...
155         0.05015                   0.66320  0.47489
156         0.08658                   0.01530  0.41587
157         0.06727                   0.20868  0.13995
158             NaN                   0.87900      NaN
159             NaN                   0.30800      NaN

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                     0.94143  0.66557                        0.41978
1                     0.94784  0.62877                        0.14145
2                     0.87464  0.64938                        0.48357
3                     0.88521  0.66973                        0.36503
4                     0.90563  0.63297                        0.32957
..                        ...      ...                            ...
155                   0.72193  0.15684                        0.18906
156                   0.22396  0.11850                        0.10062
157                   0.28443  0.36453                        0.10731
158                   0.47700  0.40100                        0.05600
159                   0.42800  0.38200                        0.16700

     Generosity  Dystopia Residual  year
0       0.29678            2.51738  2015
1       0.43630            2.70201  2015
2       0.34139            2.49204  2015
3       0.34699            2.46531  2015
4       0.45811            2.45176  2015
..          ...                ...   ...
155     0.47179            0.32858  2015
156     0.19727            1.83302  2015
157     0.16681            1.56726  2015
158     0.07000                NaN  2019
159     0.26900                NaN  2019

[160 rows x 12 columns]>

In [13]:
happiness.isna().sum(axis=0)

Country                          0
Region                           2
Happiness Score                  0
Standard Error                   2
Economy (GDP per Capita)         0
Family                           2
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                2
year                             0
dtype: int64

In [14]:
happiness = happiness.fillna(0)

In [15]:
happiness.isna().sum(axis=0)

Country                          0
Region                           0
Happiness Score                  0
Standard Error                   0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
year                             0
dtype: int64

In [16]:
happiestcountry = happiness[happiness["Happiness Score"] == happiness["Happiness Score"].max()]
happiestcountry

,Country,Region,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
0,Switzerland,Western Europe,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015

In [17]:
economiccountry = happiness[happiness["Economy (GDP per Capita)"] == happiness["Economy (GDP per Capita)"].max()]
economiccountry

,Country,Region,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
27,Qatar,Middle East and Northern Africa,6.611,0.06257,1.69042,1.0786,0.79733,0.6404,0.52208,0.32573,1.55674,2015

In [18]:
familycountry = happiness[happiness["Family"] == happiness["Family"].max()]
familycountry

,Country,Region,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
1,Iceland,Western Europe,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.4363,2.70201,2015

In [19]:
healthiestcountry = happiness[happiness["Health (Life Expectancy)"] == happiness["Health (Life Expectancy)"].max()]
healthiestcountry

,Country,Region,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
23,Singapore,Southeastern Asia,6.798,0.0378,1.52186,1.02,1.02525,0.54252,0.4921,0.31105,1.88501,2015